body {
    background-color: #202124;
}

.titel {
    color: #fff;
    text-align: center;
    font-family: Sans-serif;
    position: relative;
    bottom: -150px;
    font-size: 47px;
    letter-spacing: -5px;

}

.zoekbar {
    border: none;
    border-radius: 25px 25px 25px 25px;
    font-family: Sans-serif;
    position: relative;
    bottom: -55px;
    width: 550px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.knoppen {

    text-align: center;
    font-family: Sans-serif;
    position: relative;
    bottom: -140px;
}

.grootte {
    margin: 3.5px;
    background-color: #303134;
    color: #fff;
    width: 140px;
    height: 35px;
    border: #fff;
    border-radius: 5px 5px 5px 5px;
}

.afbeeldingen {
    color: #fff;
    position: relative;
    left: -50px;
    bottom: 163px;
    float: right;
    text-decoration: none;

}

.gmail {
    color: #fff;
    position: relative;
    left: -70px;
    bottom: 163px;
    float: right;
    text-decoration: none;

}

.account {
    border-radius: 25px 25px 25px 25px;
    position: relative;
    left: 810px;
    bottom: 25px;
    float: left;

}

.frysk {
    color: #fff;
    text-align: center;
    position: relative;
    top: 175px;
    font-family: sans-serif;

}

.frys {
    color: #ba85dd;
}