.nav {
    font-family: sans-serif;
    list-style-type: none;
    margin-bottom: 5px;
    margin-top: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    background-image: url();

}

body {
    margin: 0px;
    background-color: seashell
}

.ontstaan {
    font-family: sans-serif;
    width: 22%;
    margin-left: 20px;
    margin-top: 30px;
}

.rood {
    color: red;
}

.iphone {
    font-family: sans-serif;
    width: 26%;
    margin-left: 20px;
    margin-top: 30px;
}

.kopen {
    transition: 1s ease;
}

.kopen:hover {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    transition: 1s ease;
}

.kopen {
    font-family: sans-serif;
    background-color: crimson;
    color: black;
    position: absolute;
    margin-left: 1100px;
    margin-top: -340px;
    text-decoration: wavy;
    text-decoration: underline;
}

.mac {
    font-family: sans-serif;
    width: 25%;
    margin-left: 20px;
    margin-top: 30px;

}

.pods {
    font-family: sans-serif;
    width: 25%;
    margin-left: 20px;
    margin-top: 30px;

}

.pijl {
    position: absolute;
    margin-left: 1000px;
    margin-top: -650px;
}

.table {
    color: dodgerblue;
    background-color: #ececec;
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
}

.overflow img {
    transition: 1s ease;
}

.overflow img:hover {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    transition: 1s ease;
}

.contact {
    font-family: sans-serif;
    margin-left: 35px;
    margin-top: 25px;
}

.fotocontact {
    position: absolute;
    left: 1200px;
    bottom: 0px;
}